<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.epn.findclub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cuenta" />
        <activity android:name=".CuentaIniciarSesion" />
        <activity android:name=".CuentaRegistrar" />
        <activity android:name=".CuentaAdministrar" />
        <activity android:name=".FiestaHome" />
        <activity android:name=".FiestaRegistrar" />
        <activity android:name=".FiestaInfo" />
        <activity android:name=".FiestaModificar" />
        <activity android:name=".CuentaModificar" />
        <activity android:name=".FiestaAdministrar" />
        <activity android:name=".FiestaResultadosAdministrar" />
        <activity android:name=".DiscotecaHome"/>
        <activity android:name=".DiscotecaInfo"/>
        <activity android:name=".DiscotecaModificar"/>
        <activity android:name=".DiscotecaAdministrar"/>
        <activity android:name=".PaisHome"/>
        <activity android:name=".PaisRegistrar"/>
        <activity android:name=".PaisModificar"/>
        <activity android:name=".PaisAdministrar"/>
        <activity android:name=".DiscotecaIngresar"/>
        <activity android:name=".CuentaEliminar"/>
        <activity android:name=".FiestaEliminar"/>
    </application>

</manifest>
